:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.6);
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

nav {
  height: 130px;
}

.nav a {
  color: var(--darkGrayishBlue);
}

.nav-avatar {
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.nav-avatar:hover {
  border: 2px solid var(--orange);
  cursor: pointer;
}

.nav-logo {
  width: 150px;
  height: 25px;
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  max-height: 100%;
  border-bottom: 4px solid transparent;
}

.nav-link:hover {
  border-bottom: 4px solid var(--orange);
  color: var(--veryDarkBlue);
}

.cart button,
.cart-remove {
  background: none;
  border: none;
}

.cart button:hover {
  filter: invert(11%) sepia(21%) saturate(377%) hue-rotate(178deg) brightness(94%) contrast(95%);
}

.preview-image img {
  width: 100%;
  cursor: pointer;
}

.preview-thumbnails div {
  width: 20%;
  height: 20%;
}

.lightbox-thumbnails div {
  width: 19%;
  height: 100%;
  cursor: pointer;
}

.lightbox-thumbnails div:hover {
  background-color: var(--white);
}

.lightbox-thumbnails div:hover img {
  opacity: 0.4;
}

.lightbox-close {
  align-self: flex-end;
  width: 4%;
  height: 10%;
  cursor: pointer;
}

.lightbox-close img {
  width: 100%;
}

.lightbox-close:hover img {
  filter: invert(49%) sepia(78%) saturate(1262%) hue-rotate(348deg) brightness(105%) contrast(101%);
}

.cart-thumbnail {
  width: 20%;
  height: 100%;
}

.lightbox-button-left {
  top: 45%;
  left: -30px;
  width: 12%;
  height: 12%;
  border-radius: 50%;
  border: none;
}

.lightbox-button-right {
  top: 45%;
  right: -30px;
  width: 12%;
  height: 12%;
  border-radius: 50%;
  border: none;
}

.lightbox-button-right:hover img,
.lightbox-button-left:hover img {
  filter: invert(68%) sepia(39%) saturate(6605%) hue-rotate(347deg) brightness(103%) contrast(103%);
}

.lightbox-thumbnail-active {
  border: 3px solid var(--orange);
  background-color: var(--white);
}

.lightbox-thumbnail-active img {
  opacity: 0.4;
}

.text-orange {
  color: var(--orange);
}

h1 {
  color: var(--veryDarkBlue);
}

.desc {
  color: var(--darkGrayishBlue);
}

.badge {
  background-color: var(--paleOrange);
}

.prize p {
  color: var(--grayishBlue);
}

.btn-group {
  width: 40%;
  padding: 10px;
  background-color: var(--lightGrayishBlue);
  color: var(--veryDarkBlue);
}

.bg-orange {
  background-color: var(--orange);
}

.add-cart {
  width: 60%;
  border: none;
  -webkit-box-shadow: 0px 27px 40px -24px var(--orange);
  -moz-box-shadow: 0px 27px 40px -24px var(--orange);
  box-shadow: 0px 27px 40px -24px var(--orange);
}

.checkout {
  width: 100%;
  border: none;
}

.thumb-active {
  border: 3px solid var(--orange);
}

.thumb-active img {
  opacity: 0.5;
}

#minusCount {
  height: 100%;
  background-image: url("images/icon-minus.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

#plusCount {
  height: 100%;
  background-image: url("images/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 15px 6px;
}

.cart button {
  height: 50px;
  width: 50px;
  background-image: url("images/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 15px 15px;
}

.cart-popover {
  width: 400px;
  background-color: var(--white);
  position: absolute;
  top: 120px;
  right: -90px;
}

.cart-badge {
  width: 25px;
  height: 13px;
  border-radius: 30%;
  box-sizing: border-box;
  background-color: var(--orange);
  color: var(--white);
  position: absolute;
  text-align: center;
  font-size: 10px;
  top: 15px;
  left: 25px;
}

.cart-popover-visibility {
  visibility: hidden;
}

.hidden {
  display: none;
}

.text-darkblue {
  color: var(--veryDarkBlue);
}

.popover-body {
  color: var(--darkGrayishBlue);
  height: 200px;
  width: 100%;
}

.lightbox {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1;
}

.lightbox-preview,
.lightbox-thumbnails {
  width: 100%;
}

.add-cart:hover,
.btn-group button:hover,
.preview-thumbnails img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.add-cart,
.btn-group button,
.nav-avatar,
.preview-thumbnails img {
  transition: all 0.3s;
}

.menu-btn {
  display: none;
}

@media (max-width: 991.98px) {
  nav {
    height: 90px;
    border: none;
    width: 100%;
    z-index: 2;
  }

  .navbar {
    padding: 0px 14px !important;
    position: fixed !important;
    top: 0px;
    left: 0;
    background-color: var(--white);
  }

  .navbar div {
    justify-content: space-between !important;
  }

  .nav-logo {
    width: 120px;
    height: 25px;
    margin: 0px !important;
  }

  .menu-btn {
    display: inline-block;
  }

  .navigation {
    display: none;
  }

  .nav-avatar {
    width: 30px;
    height: 30px;
  }

  .cart button {
    height: 30px;
    width: 30px;
    background-position: 8px 5px;
  }

  .mobile-main {
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 90px !important;
  }

  .preview {
    display: none !important;
  }

  .container {
    padding: 0px;
  }

  .offer {
    width: 100% !important;
    padding: 30px !important;
  }

  .prize p,
  .prize h2 {
    display: inline-block !important;
  }

  .prize {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    flex-direction: column;
    margin-top: 15px !important;
  }

  .btn-group,
  .add-cart {
    width: 100%;
  }

  .add-cart {
    margin: 0 !important;
    padding: 10px 0px;
    margin-top: 20px !important;
  }

  .btn-group button {
    height: 45px !important;
  }

  .btn-group {
    padding: 0px !important;
  }

  #minusCount {
    background-position: 32px 20px;
  }

  #plusCount {
    background-position: 32px 16px;
  }

  .lightbox {
    position: relative !important;
    visibility: visible;
    background: none;
    z-index: 0;
  }

  .mobile-lightbox {
    width: 100% !important;
  }

  .lightbox-thumbnails {
    display: none !important;
  }

  .lightbox-preview {
    border-radius: 0px !important;
    width: 100% !important;
    height: 80% !important;
  }

  .lightbox-button-left {
    left: 20px;
  }

  .lightbox-button-right {
    right: 20px;
  }

  .lightbox-close {
    display: none;
  }

  .cart-popover {
    left: 0;
    width: 95%;
    margin: 0px 10px;
  }

  .nav-link:hover {
    border-bottom: 4px solid transparent;
  }

  footer {
    padding: 30px;
  }
}
